.box{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

.box-1{
    width: 80%;
    height: 100%;
    background-color: aqua;
    margin: auto;
}

.box-add-blog{
    width: 50%;
    height: 20%;
    background-color: brown;
    margin: auto;
    display: none;
}

.box-render{
    width: 90%;
    height: 80%;
    background-color: blueviolet;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box-blog{
    width: 23%;
    height: 300px;
    background-color: #fff;
    border: 1px solid #000;
}