body {
	font-family: Arial, sans-serif;
	background-color: #EFB495;
}

.container {
	width: 300px;
	margin: 40px auto;
	padding: 20px;
	background-color: #EF9595;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
	width: 100%;
	padding: 20px;
}

h2 {
	margin-top: 0;
}

input[type="text"], input[type="email"], input[type="password"] {
	width: 73%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px ;
}

button[type="submit"] {
	width: 80%;
	padding: 10px;
	background-color: #EBEF95;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


p {
	margin-top: 20px;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	color: #3e8e41;
}